{% extends "app/layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>Игромания</h1>
    <p class="lead">Интернет-магазин «Игромания» предлагает широкий выбор игровых устройств для любителей компьютерных игр.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Ассортимент</h2>
        <p>
            У нас есть всё, что нужно современному геймеру: 
            качественные геймпады, удобные клавиатуры, точные мыши,
            стильные наушники и полезные аксессуары.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Что мы предлогаем</h2>
        <p>Мы предлагаем товары разных ценовых категорий,
        чтобы каждый мог выбрать то, что ему подходит.
        Наша команда тщательно следит за новинками игровой
        индустрии и регулярно обновляет ассортимент магазина. </p>
    </div>
    <div class="col-md-4">
        <h2>Закажи у нас</h2>
        <p>Заказывайте товары на нашем сайте и получайте их
        с быстрой доставкой. Для постоянных клиентов действует
        система скидок. Присоединяйтесь к нам и играйте с удовольствием!</p>
    </div>
</div>

{% endblock %}
