{% extends "app/layout.html" %}

{% block content %}
{% load static%}

<a href="https://hyperpc.ru/?utm_source=yandex&utm_medium=cpc&utm_campaign=e+|+Товарная+|+ПК+|+РФ&utm_content=cid|78304137|gid|5022452348|aid|16241162772|adp|no|dvc|desktop|pid|41009354128|rid|41009354128|did|41009354128|pos|premium1|adn|search|crid|0|&utm_term=---autotargeting&calltouch_tm=yd_c:78304137_gb:5022452348_ad:16241162772_ph:41009354128_st:search_pt:premium_p:1_s:none_dt:desktop_reg:10926_ret:41009354128_apt:none&yclid=14700677036673073151" target="_blank">
    <img src="{% static 'app/content/photo1.webp' %}" alt="Logo 1" />
</a>
<a href="https://www.razer.ru/?utm_source=yandex&utm_medium=cpc&utm_campaign=74968071&utm_content=15384459017&utm_term=---autotargeting&yclid=5547559445902917631" target="_blank">
    <img src="{% static 'app/content/logorazer.webp' %}" alt="Logo 2" />
</a>
<a href="https://www.citilink.ru/catalog/tovary-dlya-geimerov/" target="_blank">
    <img src="{% static 'app/content/logo3.webp' %}" alt="Logo 3" />
</a>

{% endblock %}